
{% extends "base.html" %}



{% block content %}


<div class="container">
    <div class="row mt-5">
        <div class="col-md-3">
            <h1>Dashboard</h1>
           {% include "html/dashboard/dashboardnav.html" %}
        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="col">
                  <div class="card mt-5">
                <div class="card-body">
                  <h5 class="card-title text-center">All categories</h5>
                  <p class="card-text text-bold ">{{category_count}}</p>

                </div>
            </div>
                </div>
                <div class="col">
                  <div class="card mt-5">
                <div class="card-body">
                  <h5 class="card-title text-center">All posts</h5>
                <p class="card-text text-bold ">{{post_count}}</p>

            </div>

                </div>
              </div>
        </div>
    </div>


{% endblock %}



